body {
	background-color: #E5E5E5;
}

td,tr {
	vertical-align: bottom;
	padding: 7px;
}
table {
	float:right;
	padding: 0px 0px;
}
#table2 {
	position: absolute;
	bottom:0px;
	right:200px;
}
#table3 {
	position: absolute;
	bottom: 0px;
	right:0px;
}
#ProbeDropLoc, #SelectVerticies, #PointTarget {
	background-color: white;
	color: black;
	padding: 9px 9px;
	display: inline-block;
	font-size: 14px;
	float: right;
	border: 1px solid;
	border-color: gray;
	border-radius: 4px;
}

#Compute {
	background-color: #00cc00;
	color: white;
	padding: 9px 9px;
	display: inline-block;
	font-size: 14px;
	float: right;
	border: 1px solid;
	border-color: black;
	border-radius: 4px;
}

#Clear {
	background-color: orange;
	color: white;
	padding: 7px 7px;
	display: inline-block;
	font-size: 14px;
	float: right;
	border: 1px solid;
	border-color: black;
	border-radius: 4px;
}

#NoTarget {
	background-color: #ff0000;
	color: white;
	padding: 7px 7px;
	font-size: 14px;
	float: right;
	border: 1px solid;
	border-radius: 4px;
}

#Process {
	background-color: blue;
	color: white;
	padding: 9px 9px;
	font-size: 14px;
	float: right;
	border:1px solid;
	border-radius: 4px;
}

#Load {
	background-color: black;
	color: white;
	padding: 9px 9px;
	font-size: 14px;
	float:right;
	border: 1px solid;
	border-color: black;
	border-radius: 4px;
}

#ProbeDropLoc:active, #SelectVerticies:active, #PointTarget:active {
	background-color: #00cc00;
}
#Compute:active {
	background-color: gray;
}
#Clear:active {
	background-color: gray;
}
#Load:active {
	background-color: purple;
}